version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

workflows:
  setup-workflow:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue.yml
